<div class="sidebar-header">
    <a href="https://www.sanistardump.com" target="_blank" rel="noopener noreferrer">
        <img class="sidebar-icon" data-src="images/SaniSTARicon-wMatt.png" alt="SaniStar Dump Logo" />
    </a>
</div>

<nav class="sidebar-nav">
    <a data-href="index.html" class="nav-item">
        <div>Overview</div>
    </a>
        <a data-href="content/lookOuts.html" class="nav-item">
        <div>Look Outs</div>
    </a>
        <a data-href="content/GettingStarted.html" class="nav-item">
        <div>Getting Started</div>
    </a>

    <a data-href="content/SalesOrder.html" class="nav-item">
        <div>Sales Orders</div>
    </a>
    <a data-href="content/BuildOrder.html" class="nav-item">
        <div>Build Order</div>
    </a>
    <a data-href="content/Inventory.html" class="nav-item">
        <div>Inventory</div>
    </a>
    <a data-href="content/ShippingInvoicing.html" class="nav-item">
        <div>Shipping & Invoicing</div>
    </a>
    <a data-href="content/Workflow.html" class="nav-item">
        <div>Workflow</div>
    </a>

</nav>
<!-- <div class="sidebar-footer">
    <div class="logo-plate">
        <a href="https://www.discrete-dev.com" target="_blank" rel="noopener noreferrer">
            <img class="dd-logo" data-src="images/DD-logo-fringe-blk.png" alt="Discrete-Development" />
        </a>
    </div>
</div> -->
